<div class="row buscador align-items-center" style="width: 85%;">
  <div class="buscar">Buscar</div>
  <input type="text" class="col-3 form-control" onkeyup="buscador()" id="buscadorTabla">
  <% if (sesion.tecnico) { %>
    <input type="checkbox" id="buscadorUsuario" class="BUsuLabel" name="buscadorUsuario" value="usuario" onchange="buscador()">
    <label class="form-check-label ml-2 BUsuLabel" for="buscadorUsuario">Usuario</label>
    <% } %>

</div>

<script>

  


  function buscador() { 
    let pag = window.location.href.substring(22,window.location.href.length);
    let tab; let f;
    if(pag == "avisos_entrantes") {tab = "t_entrantes"; f = 2;}
    else if(pag == "mis_avisos") {
      tab = "t_avisos";
      if ("<%=sesion.tecnico%>" == "1") f = 2;
      else f = 1;
    }
    else if(pag == "historico_de_avisos") {tab = "t_historico"; f = 2;}
    else {tab = "t_usuarios"; f = 1;}
    // Declare variables
    var input, filter, table, tr, td, i, txtValue, buscadorUsuario;
    input = document.getElementById("buscadorTabla");
    filter = input.value.toUpperCase();
    tr = document.getElementsByTagName("tr");
    buscadorUsuario = document.getElementById("buscadorUsuario")
    var z = 1;
    var count = 1;
    // Loop through all table rows, and hide those who don't match the search query 
    if(pag == "gestion_de_usuarios") {
        "<% avisos.forEach((aviso)=> { %>"
        txtValue = "<%= aviso.nombre %>";
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[count].style.display = "";
      } else {
        tr[count].style.display = "none";
        z++;
      }
      count++;
      "<%})%>"

    if (z == tr.length) {
      $("#noAviso").html("No se ha encontrado ningún usuario");
    }
    else {
      $("#noAviso").html("");
    }

    } else {
        "<% avisos.forEach((aviso)=> { %>"
      if (buscadorUsuario && buscadorUsuario.checked) {
        txtValue = "<%= aviso.nombreUsu %>";
      }
      else {
        txtValue = "<%= aviso.texto %>";
      }
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[count].style.display = "";
      } else {
        tr[count].style.display = "none";
        z++;
      }
      count++;
      "<%})%>"

    if (z == tr.length) {
      $("#noAviso").html("No se ha encontrado ningún aviso");
    }
    else {
      $("#noAviso").html("");
    }

  }

  }

</script>