<div class="row buscador align-items-center">
  <div class="buscar">Buscar</div>
  <input type="text" class="col-3 form-control" onkeyup="buscador()" id="buscadorTabla">
  <% if (sesion.tecnico) { %>
    <input type="checkbox" id="buscadorUsuario" name="buscadorUsuario" value="usuario" onchange="buscador()">
    <label class="form-check-label ml-2" for="buscadorUsuario">Usuario</label>
    <% } %>

</div>

<script>


  function buscador() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue, buscadorUsuario;
    input = document.getElementById("buscadorTabla");
    filter = input.value.toUpperCase();
    table = document.getElementById("t_avisos");
    tr = table.getElementsByTagName("tr");
    buscadorUsuario = document.getElementById("buscadorUsuario")
    let f;
    if ("<%=sesion.tecnico%>" == "1") { f = 2; }
    else { f = 1; }
    var z = 1;
    var count = 1;
    // Loop through all table rows, and hide those who don't match the search query                       

    "<% avisos.forEach((aviso)=> { %>"
    if (buscadorUsuario && buscadorUsuario.checked) {
      txtValue = "<%= aviso.nombreUsu %>";
    }
    else {
      txtValue = "<%= aviso.texto %>";
    }
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[count].style.display = "";
    } else {
      tr[count].style.display = "none";
      z++;
    }
    count++;
    "<%})%>"

    if (z == tr.length) {
      $("#noAviso").html("No se ha encontrado ningún aviso");
    }
    else {
      $("#noAviso").html("");
    }

  }

</script>