<!DOCTYPE html>
<html lang="es">
    <head>
        <title>UCM - Centro de Atención al Usuario</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/x-icon" href="/img/logoucm.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet"  media="screen" href="/css/mis_avisos.css"/>
    </head>

    <body>
        <div class ="container-fluid">
            <div class="row d-flex cabecera align-items-center">
                <div class="col-xl-2 col-md-3 col-sm-3 col-3">
                    <a href="/"><img src="img/ucm_logo2.png" id="logo"></a>
                </div>
                <div class="col-xl-8 col-md-6 col-sm-5 col-5"><h1 class="titulo">Centro de Atención al Usuario</h1></div>
                <div class="col-xl-1 col-md-2 col-sm-4 col-4">
                    <a class="btn btn-light btnBlanco" href="/login" role="button">Iniciar sesión</a>
                </div>
            </div>

            <div class="row cuadroLogin justify-content-center">
                <form class="needs-validation" id="crearCuentaForm" enctype="multipart/form-data" action="/crear_cuenta" method="post" novalidate>
                    <h4 class="text-center mb-4">Crear cuenta</h4>
                    <div class="row">
                        <!-- Email input -->
                        
                        <div class="form-outline mb-4 mr-4">
                        <label class="form-label labelBold" for="correo">Correo electrónico:</label>
                        <input type="email" name="correo" class="form-control inputWidth" required/>
                        <div class="invalid-feedback">
                            Por favor introduce un correo electrónico
                          </div>
                          
                        </div>
    
                        <!-- Nombre input -->
                        <div class="form-outline mb-4">
                            <label class="form-label labelBold" for="nombre">Nombre para mostrar:</label>
                            <input type="text" name="nombre" class="form-control inputWidth" required/>
                            <div class="invalid-feedback">
                                Por favor introduce un nombre
                              </div>
                              
                        </div>

                    </div>

                    <!-- Password input -->
                    <div class="row">

                        <div class="form-outline mb-4 mr-4">
                            <label class="form-label labelBold" for="password">Contraseña:</label>
                          <input type="password" name="password" class="form-control inputWidth" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label labelBold" for="pass2">Confirmar contraseña:</label>
                          <input type="password" id="pass2" class="form-control inputWidth" />
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-outline mb-4 mr-4">
                            <label class="form-label labelBold" for="selectorPerfil">Perfil Universitario:</label>
                            <select class="form-control" id="selectorPerfil" name="perfil" onchange="mostrarCTecnico()">
                                <option value="none" selected disabled hidden>Seleccione su perfil universitario</option>
                                <option value="alumno">Alumno</option>
                                <option value="pas">Personal de Administración y Servicios (PAS)</option>
                                <option value="pdi">Personal Docente e Investigador (PDI)</option>
                                <option value="aa">Antiguo Alumno</option>
                              </select>
                        </div>

                                                

                    </div>

                    <div class="row">


                        <div class="form-outline mb-4 mr-4">
                            <label for="inputFoto" class="form-label labelBold">Imagen de perfil:</label>
                            <input class="form-control" type="file" name="foto" id="inputFoto">
                          </div>
                     

                    </div>

                    <div class="row regTecnico justify-content-center">
                        <div class="form-check mt-4 mb-4 mr-4" id="divTecnico">
                            <input class="form-check-input" type="checkbox" id="cTecnico" name="tecnico" value="si" onchange="mostrarNEmpleado()">
                            <label class="form-check-label" for="flexCheckDefault">
                              Técnico
                            </label>
                        </div>

                        <div class="form-outline mb-4" id="nEmpleado">
                            <label class="form-label labelBold" for="numEmpl">Nº de empleado:</label>
                            <input type="text" name="numEmpl" class="form-control inputWidth" />
                              
                        </div>

                    </div>

                    <% if (errMsg) { %>
                        <div class="text-center mb-4 rojoError labelBold">
                          <%= errMsg %>
                        </div>
                      <% } %>
                    
                    
                  
                    <!-- Submit button -->
                    <div class="row mt-4 mb-4">
                        <button type="submit" class="col btn btnRojo mb-4 mr-4">Crear cuenta</button>
                        <button type="reset" class="col btn btn-secondary btnLimpiar mb-4" onclick="ocultarPAS()">Limpiar formulario</button>
                        
                  
                      
                    </div>
                    
                    
                    
                    

                    <!-- Iniciar sesion -->
                    <div class="text-center mb-4">
                        <p>¿Ya tienes una cuenta? <a href="/login.html">Iniciar sesión</a></p>
                        
                      </div>
                  
                    
                  </form>

            </div>
            



                
     

    
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
        <script>

            function mostrarNEmpleado() {
                    element = document.getElementById("nEmpleado");
                    check = document.getElementById("cTecnico");
                    if (check.checked) {
                        element.style.display='block';
                    }
                    else {
                        element.style.display='none';
                    }
                }

            function mostrarCTecnico() {
                    element = document.getElementById("divTecnico");
                    selector = document.getElementById("selectorPerfil");
                    if (selector.value === "pas") {
                        element.style.display='block';
                        
                    }
                    else {
                        element.style.display='none';
                        document.getElementById("cTecnico").checked = false;
                        document.getElementById("nEmpleado").style.display='none';
                    }
                }

            function ocultarPAS(){
                document.getElementById("nEmpleado").style.display='none';
                document.getElementById("divTecnico").style.display='none';
                $('#crearCuentaForm').bootstrapValidator('resetForm', true);
            }

            (function () {
              'use strict'

              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.querySelectorAll('.needs-validation')

              // Loop over them and prevent submission
              Array.prototype.slice.call(forms)
                .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                  }, false)
                })
            })()

            
         

          
        
        </script>

      </body>
    
    

    


</html>