@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

body{
    font-family: 'Quattrocento', serif;
}

.titulo{
    text-align: center;
    margin: 0.5rem;
    font-size:calc(8px + 1.7vw);
    color: white;
    font-weight: bold;
   }
  
.cabecera{
    height: 10rem;
    background-color: #A00D17; 
    
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px;
    
   }

#logo{
    width: 281.25px;
    height: 123.75px;
    
}


@media screen and (max-width: 768px){   
 
    #fotoPerfil{
        display: none;
    }
}

#fotoPerfil{
    width: calc(70px + 2vw);
    height: calc(70px + 2vw);
   }

.correo{
    color: white;
    font-size:calc(9px + 0.8vw);
    font-weight: bold;
  }

.btnBlanco{
    font-weight: bold;
}

.btnRojo{
    background-color: #A00D17;
    color: white;
    font-weight: bold;
    
}

.btnLimpiar{
    font-weight: bold;
}

.rojoError{
    color: #dc3545;
}

.verdeExito{
    color:green;
}

h4{
    font-weight: bold;
}

.btnRojo:hover
{
    background-color: #810b13;
}


.btnRojo:disabled,
.btnRojo[disabled]
{
    background-color: #A00D17;
}

.labelBold{
    font-weight: bold;
}

.modal-title{
    font-weight: bold;
}

.avisoInv{
    display: none;
}

.puntero {
    cursor: pointer;
}
