@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

body{
    font-family: 'Quattrocento', serif;
}

.titulo{
    text-align: center;
    margin: 0.5rem;
    font-size:calc(12px + 2vw);
    color: white;
    font-weight: bold;
   }
  
.cabecera{
    height: 10rem;
    background-color: #A00D17; 
    
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px;
    
   }

.logo{
    min-width: 160px;
    min-height: 60px;
}

.foto{
    min-width: 60px;
    min-height: 60px;
   }

.correo{
    color: white;
    font-size:calc(10px + 0.8vw);
    font-weight: bold;
  }

.btnBlanco{
    font-weight: bold;
}

.btnRojo{
    background-color: #A00D17;
    color: white;
    font-weight: bold;
    
}

.navMenu{
    font-weight: bold;
    font-size: 20px;
    
}

.navActivo {
    border: solid black 2px;
}

.buscador{
    margin-top: 1rem;
    margin-left: 2rem;
}

.buscar{
    font-size: 20px;
    font-weight: bold;
    margin-right: 1rem;
}

.tabla{
    margin: auto;
    margin-top: 2.5rem;
    
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.tabla tr {
    cursor: pointer;
}

.tabla th{
    cursor: default;
}

.fechaT{
    font-weight: bold;
}

.areaT{
    width: 90%;
    padding-left: 7px;
}

.tAviso{
    margin-left: 150px;
    text-align: end;
}

.nuevoAviso{
    margin-bottom: 50px;
}

.btnRojo:hover{
    background-color: #810b13;
}

.nav-item:hover{
    background-color: lightgray;
}

.modal-title{
    font-weight: bold;
}

.cuadroLogin{
    margin-top: 2.5rem;
}

.labelBold{
    font-weight: bold;
}