@media screen and (max-width: 1200px){   
    #logo{      
        content:url("/img/ucm_logo_min.png");
        
    } 
}

.navMenu{
    font-weight: bold;
    font-size: 20px;
    
}

.navActivo {
    border: solid black 2px;
}


.buscador{
    margin-top: 1rem;
    margin-left: 2rem;
    
}

.buscar{
    font-size: 20px;
    font-weight: bold;
    margin-right: 1rem;
}

#buscadorTabla{
    margin-right: 1rem;
}

.tabla{
    margin: auto;
    margin-top: 2.5rem;
    
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.tabla tr {
    cursor: pointer;
}

.tabla th{
    cursor: default;
}

.fechaT{
    font-weight: bold;
}

.areaT{
    width: 90%;
    padding-left: 7px;
}

.tAviso{
    margin-left: 150px;
    text-align: end;
}

.centrar{
    margin: auto;
}

.nuevoAviso{
    margin-bottom: 50px;
}

.nav-item:hover{
    background-color: lightgray;
}

#opciones{
    display: none;
}